name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-windows:
    runs-on: windows-latest  
    steps:
    - uses: actions/checkout@v2
      with:
          submodules: true
    - name: check
      run: |     
        python --version
        pip --version 
    - name: install
      run: |
        pip install -r requirements-test.txt
    - name: test
      run: |
        make test

  build-linux:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      with:
          submodules: true
    - name: check
      run: |     
        python3 --version
        pip3 --version 
    - name: install
      run: |
        pip3 install setuptools
        pip3 install -r requirements-test.txt
    - name: test
      run: |
        python3 -m pytest ./tests/

  build-macos:
    runs-on: macos-latest  
    steps:
    - uses: actions/checkout@v2
      with:
          submodules: true
    - name: check
      run: |     
        python3 --version
        pip3 --version 
    - name: install
      run: |
        pip3 install -r requirements-test.txt
    - name: test
      run: |
        make test
